body {
    background-color: #C9D6B7;
}

@font-face {
    font-family: SenRegular;
    src: url(../fonts/sen-regular.ttf);
}

#SenRegular {
    font-family: SenRegular;
    font-size: 100px;
}

#box1 {
    text-align: center;
    position:relative;
    top: 0px;
    font-family: SenRegular;
    margin: 50px;
    color: #FDF7E4;
    font-size: 110px;
}

#box2 {
    text-align: center;
    position:relative;
    top: -50px;
    font-family: SenRegular;
    margin: 400px;
    color: #FDF7E4;
    font-size: 25px;
}

#box3 {
    text-align: center;
    position: relative;
    top: -100px;
}

#box4 {
    text-align: center;
    position: relative;
    top: 100px;
}

#box5 {
    text-align: center;
    position:relative;
    top: -230px;
    font-family: SenRegular;
    margin: 400px;
    color: #FDF7E4;
    font-size: 25px;
}

#box6 {
    text-align: center;
    position:relative;
    top: -590px;
    font-family: SenRegular;
    margin: 400px;
    color: #DC9072;
    font-size: 18px;
}