body {
    background-image: url("https://images.unsplash.com/photo-1504253163759-c23fccaebb55?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80");
    background-size: cover;
    margin: 0;
  }
  
  model-viewer {
    height: 100vh;
    width: 100vw;
  }