body {
  margin: 0;
  display: flex;
  /* This centers our sketch horizontally. */
  justify-content: center;
  /* This centers our sketch vertically. */
  align-items: center;
  color: white;
  background-color: white;
  font-family: OuroborosReg;
}

@font-face {
  font-family: OuroborosReg;
  src: url(../fonts/Ouroboros-Regular.otf);
}

#OuroborosReg {
  font-family: OuroborosReg;
  font-size: 6vh;
}

/* i'm using the z index to move the slider on top of the container */
.container {
  z-index: 1;
  display:  flex;
  /* font-family: 'Archivo Black', sans-serif; */
  font-size:  15vw;
  align-items: center;
  justify-content: center;
  height: 100vh;
  letter-spacing: 1px;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
