body {
    background-color: black;
    margin: 0;
  }
  
model-viewer {
    width: 80vw;
    height: 80vh;
}


.interaction-prompt {
    font-size: 150px;
}

button {
    background-color: pink;
    color: black;
    outline: none;
    text-decoration: none;
    border: none;
    border-radius: 20px;
    font-size: 40px;
}